.body {
	margin: 0px;
	display: block;
	background-image: "assets/images/hexellence_@2X.png"
}

.header {
	background-color: white;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	width: 100%;
	height: 89px;
	margin: 0px;
}

h1 {
	float: left;
	text-align: center;
	background-color: #4aaaa5;
	margin-bottom: 0px;
	margin-left: 22px;
	margin-top: 33px;
	padding: 15px;

}

a {
	text-decoration: none;
}

a:link {
	color: #777777;
}

a:visited {
	color: #777777;
}

.links {
	float: right;
	width: 100px;
	height: 20px;
	text-align: center;
	right: 35px;
	border-left-color: #777777;
	border-left-width: 1px;
	border-left-style: solid;
	text-decoration: none;
	margin-top: 40px;
	border-right: #777777;
	background-color: white;
}

.links2 {
	float: right;
	width: 100px;
	height: 20px;
	text-align: center;
	right: 35px;
	text-decoration: none;
	margin-top: 40px;
	border-right: #777777;
	background-color: white;
}

img.profile-image {
	width: 200px;
	height: 200px;
	float: left;
	margin: 15px;
}

.content {
	width: 70%;
}

.aside {
	float: right;
	width: 30%;
	margin-right: 70px;
}

.footer-box {
	position: fixed;
	margin: 0px;
}



.footer {
  width: 100%;
  background-color: #666666;
  color: white;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #4aaaa5;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  z-index: 1;
  bottom: 0px;
}

.connect {
	float: right;
	width: 15%;
	margin-top: 150px;
	margin-right: 25px;
}

.name{
	float: left;
	background-color: #4aaaa5;
	text-align: center;
	padding: 1px;
	padding-top: 5px;
	width: 25%;
	color: white;
	z-index: 3;
	height: 50px;
	margin-left: 63px;
}



.text {
	clear: right;

}

.box-c {
	position: absolute;
	width: 100px;
	height: 75px;
	background-color: white;
	margin: 0px;
}

.box-3 {
	top: 150px;
	left: 70px;
	width: 20%;
	height: 500px;
	z-index: 1;
	padding-top: 5px;
	padding-left: 205px;
	text-align: left;
}

.box-5 {
	top: 129px;
	left: 70px;
	width: 20%;
	height: 500px;
	z-index: 1;
	padding-top: 210px;
	text-align: left;
}

.box-d {
	position: absolute;
	width: 200px;
	height: 200px;
	margin: 0px;
}

.box-4 {
	top: 150px;
	left: 70px;
	z-index: 2;
}

h3 {
	position: absolute;
	top: 100px;
	right: 130px;
	float: left;
	margin-left: 650px;
	margin-top: 50px;
	color: #4aaaa5;
}



.about-box {
	position: absolute;
	margin-left: 70px;
	margin-right: 15%;
	margin-top: 15px;
	color: #4aaaa5;
	z-index: 5;
}

h2 {
	float: right;
}

